<div class="container">
	<div class="base-from">
		<form action="/signin" method="post">
			<h4>登陆</h4>
			<div class="form-group">
				<input id='loginname' name='loginname' type='text' class='form-control' placeholder="用户名" />
			</div>
			<div class="form-group">
				<input id='pass' name='pass' type='password' class='form-control' placeholder="密码" />
			</div>
			<div class="form-group">
				<input type='submit' class='btn btn-primary btn-block' value='登陆'/>
			</div>
		</form>
	</div>
	
</div>