doctype html
html
	include ./include/head.jade
	script(type='text/javascript').
		$(function(){
			alert('a')
		});
	body
		include ./include/header.jade
		div#langing
			div#langing-page
				div.container
