<link rel="stylesheet" type="text/css" href="/public/css/index.css">
<style type="text/css">
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.swiper-container-post {
		width: 100%;
		height: 350px;
	}
</style> 
<script type="text/javascript" src="/public/libs/swiper/js/swiper.min.js"></script> 
<script>
	$(document).ready(function () {
    //initialize swiper when document ready  
    var mainSwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      spaceBetween: 0,
      paginationClickable: true,
      effect: 'fade',
      loop: true
  });     
    var postSwiper = new Swiper ('.swiper-container-post', {
      // Optional parameters
      pagination: '.swiper-pagination',
      spaceBetween: 0,
      paginationClickable: true,
      effect: 'fade',
      loop: true
  });    
});
</script> 

<div class="container"> 
	<div id="pager"> 
		<div class="fs-wrap swiper-wrap"> 
			<!-- Swiper --> 
			<div class="swiper-container"> 
				<div class="swiper-wrapper"> 
					<div class="swiper-slide">
						Slide 1
					</div> 
					<div class="swiper-slide">
						Slide 2
					</div> 
					<div class="swiper-slide">
						Slide 3
					</div> 
				</div> 
				<!-- Add Pagination --> 
				<div class="swiper-pagination"></div> 
				<!-- Add Arrows --> 
				<div class="swiper-button-next"></div> 
				<div class="swiper-button-prev"></div> 
			</div> 
		</div> 
	</div> 
</div> 
<div class="main-wrapper"> 
	<div class="container"> 
		<div class="main-content">
			<%- partial('sidebar')%> 
			<div class="content-area"> 
				<div class="content-home">
					<div class="content"> 
						<article class="post format-gallery"> 
							<div id="post" class="post-box"> 
								<header> 
									<div class="post-cats"> 
										<span class="post-type post-type-gallery"><i class="fa fa-th-large"></i></span>
										<a href="http://demo.bloompixel.com/travelista/category/gallery/">Gallery</a> 
									</div> 
									<h2 class="title entry-title title32"> <a href="http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/" rel="bookmark">Wow so Amazing in Asia</a> </h2> 
									<div class="post-meta"> 
										<span class="post-author"><i class="fa fa-user"></i> <a href="http://demo.bloompixel.com/travelista/author/ezarazor/" rel="author">zazilla</a></span> 
										<span class="post-date"><time datetime="2014-10-15T11:59:49+00:00"><i class="fa fa-clock-o"></i> October 15, 2014</time></span> 
										<span class="post-comments"><i class="fa fa-comments-o"></i> <a href="http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/#comments" class="comments-link">3 Comments</a></span> 
										<span class="post-views"><i class="fa fa-eye"></i> 2006 Views</span> 
									</div>
									<!--.post-meta--> 
								</header>
								<!--.header-->
								<div class="swiper-wrap swiper-post">

									<div class="swiper-container-post"> 
										<div class="swiper-wrapper"> 
											<div class="swiper-slide">
												Slide 1
											</div> 
											<div class="swiper-slide">
												Slide 2
											</div> 
											<div class="swiper-slide">
												Slide 3
											</div> 
										</div> 
										<!-- Add Pagination --> 
										<div class="swiper-pagination"></div> 
									</div>
								</div>
								<div class="post-inner"> 
									<div class="post-content entry-content"> 
										<p>Ut pellentesque dignissim turpis, nec blandit magna venenatis non. Nullam quis orci non ligula blandit mattis ac sit amet eros. Nam eget tempor lorem. Nam et lectus volutpat, placerat enim fringilla, varius orci. Sed bibendum velit vitae mauris dignissim tristique. Donec ac ligula dapibus, sagittis odio ultricies, imperdiet ipsum. Aenean semper mollis elit, quis tempus eros fermentum et.</p> 
										<p>Etiam in cursus lectus, vitae ullamcorper tortor. Praesent aliquet lacus auctor, scelerisque nisi sed, molestie dolor. Suspendisse condimentum velit massa, a sodales ante pharetra id. Mauris a posuere orci. Ut ultricies justo sed quam posuere, a aliquam tellus commodo. Aenean in lorem arcu. Etiam nec dapibus diam. Quisque dictum luctus bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam nunc nibh, tristique non turpis ut, pulvinar gravida felis.</p> 
										<p> <a href="http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/" class="more-link">Read More</a></p> 
									</div>
									<!--post-content--> 
								</div>
								<!--.post-inner--> 
								<div class="share-buttons"> 
									<div class="social-buttons clearfix"> 
										<!-- Facebook --> 
										<div class="social-btn social-fb"> 
											<a rel="nofollow" href="http://www.facebook.com/share.php?u=http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/&amp;title=Wow+so+Amazing+in+Asia" target="_blank" original-title="Share on Facebook"> <i class="fa fa-facebook"></i> </a> 
										</div> 
										<!-- Twitter --> 
										<div class="social-btn social-twitter"> 
											<a rel="nofollow" href="http://twitter.com/home?status=Wow+so+Amazing+in+Asia+http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/" target="_blank" original-title="Share on Twitter"> <i class="fa fa-twitter"></i> </a> 
										</div> 
										<!-- Google+ --> 
										<div class="social-btn social-gplus"> 
											<a rel="nofollow" href="https://plus.google.com/share?url=http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/" target="_blank" original-title="Share on Google+"> <i class="fa fa-google-plus"></i> </a> 
										</div> 
										<!-- StumbleUpon --> 
										<div class="social-btn social-stumbleupon"> 
											<a rel="nofollow" href="http://www.stumbleupon.com/submit?url=http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/&amp;title=Wow+so+Amazing+in+Asia" target="_blank" original-title="Share on StumbleUpon"> <i class="fa fa-stumbleupon"></i> </a> 
										</div> 
										<!-- Reddit --> 
										<div class="social-btn social-reddit"> 
											<a rel="nofollow" href="http://www.reddit.com/submit?url=http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/&amp;title=Wow+so+Amazing+in+Asia" target="_blank" original-title="Share on Reddit"> <i class="fa fa-reddit"></i> </a> 
										</div> 
										<!-- Delicious --> 
										<div class="social-btn social-delicious"> 
											<a rel="nofollow" href="http://del.icio.us/post?url=http://demo.bloompixel.com/travelista/2014/10/15/wow-so-amazing-in-asia/&amp;title=Wow+so+Amazing+in+Asia&amp;notes=Wow+so+Amazing+in+Asia" target="_blank" original-title="Share on Delicious"> <i class="fa fa-delicious"></i> </a> 
										</div> 
									</div> 
								</div>
								<!--.share-buttons--> 
							</div>
							<!--.post excerpt--> 
						</article> 
					</div> 
				</div>
				<nav class="navigation paging-navigation" role="navigation">
					<div class="pagination loop-pagination">
						<span class="page-numbers current">1</span>
						<a class="page-numbers" href="http://demo.bloompixel.com/travelista/page/2/">2</a>
						<a class="next page-numbers" href="http://demo.bloompixel.com/travelista/page/2/">Next →</a>			
					</div>
					<!-- .pagination -->
				</nav>
				<!--.content-home--> 
			</div> 
		</div> 
	</div> 
</div>
