doctype html
html
	include ./include/head.jade
	body
		include ./include/header.jade
		div#langing
			div#langing-page
				div.container
					//div.about-content.absolute-center
						//h1 WE HELP YOU EASILY BUILD
		//include ./include/footer.jade
