body {
	background-color: #f9f9f9;
	background-image: url(../images/pattern23.png);
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0 0;
	background-size: inherit;
}
.swiper-wrap{
	height: 400px;
	position: relative;
	display: block;
}
.uppercase {
  text-transform: uppercase;
}
a, a:hover, a:focus {
	text-decoration: none;
}

a, a:hover, .title a:hover, .sidebar a:hover, .sidebar-small-widget a:hover, .breadcrumbs a:hover, .meta a:hover, .post-meta a:hover, .post .post-content ul li:before, .content-page .post-content ul li:before, .reply:hover i, .reply:hover a, .edit-post a, .relatedPosts .widgettitle a:hover, .error-text {
	color: #99cc00;
}

article{
	display: block;
}
p { margin-bottom: 20px }

.clearfix:after {
	clear: both;
	content: "";
	font-size: 0;
	height: 0;
	display: block;
	visibility: hidden;
}

.read-more a, .more-link {
  background: #99cc00;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 32px 3px 16px;
  position: relative;
  text-transform: uppercase;
}

.content-area a {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

/*---[ Social Share Buttons ]---*/
.share-buttons {
	overflow:hidden;
	margin:0;
	padding:14px 0 0;
	position: relative;
	text-align:center
}
.share-buttons:before {
	border-top: 1px dashed rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	height: 1px;
	content: ''
}
.social-buttons {
	position: relative;
	z-index: 99
}
.social-btn {
	display:inline-block;
	margin:0 0 15px 0;
	padding: 0 7px 0 6px
}
.social-btn a {
	color:#000;
	display:block;
	font-size:16px;
	line-height:24px;
	padding:4px 0;
	position: relative;
	text-align:center;
	width:32px;
}
.social-btn a:before,
.social-btn a:after {
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 100;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.social-btn a:before { z-index: 100 }
.social-btn a:after {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	z-index: -1;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-btn a:hover:after {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.share-buttons .social-btn a:hover { color:#fff; }
.social-fb a:hover:after { background:#395aa1 }
.social-twitter a:hover:after { background:#17a8dd }
.social-gplus a:hover:after { background:#fc5656 }
.social-stumble a:hover:after { background:#eb4924 }
.social-pin a:hover:after { background:#BE202E }
.social-linkedin a:hover:after { background:#017EB4 }
.social-pinterest a:hover:after { background:#cc2127 }
.social-stumbleupon a:hover:after { background:#f04f23 }
.social-reddit a:hover:after { background:#000 }
.social-tumblr a:hover:after { background:#34465d }
.social-delicious a:hover:after { background:#3399ff }


/*---[ Post Navigation ]---*/
.navigation {
	clear:both;
	display:block
}
.paging-navigation {
	border-bottom:1px solid rgba(0, 0, 0, 0.09);
	margin-bottom:3px
}
/*-----------------------*/
/*	6.2 Post Formats
/*-----------------------*/
.post-format-link {
	background:rgba(0,0,0,0.5);
	color:#fff;
	float:none;
	font-size:24px;
	line-height:30px;
	padding:20px;
	position:relative;
	word-wrap:break-word
}
.post-content-format {
	display:block;
	border:1px solid rgba(255, 255, 255, 0.3);
	padding:20px;
	text-align:center;
}
.post-format-icon {
	color:#fff;
	font-size:26px !important
}
.post-format-quote {
	background:#333;
	color:#fff;
	margin:0;
	overflow:hidden;
	padding:20px;
}
.post-format-quote-content {
	margin:0;
	overflow:hidden
}
.post-format-quote-content a,
.post-format-quote-content a:hover { color:#fff }
.post .post-format-quote-content blockquote {
	color:#fff;
	font-size:24px;
	font-style:italic;
	line-height:36px;
	margin:0;
	padding:0
}
.audio-box { 
	margin-bottom:20px;
	width:100%
}
.audio-box iframe { float:left }
.content-home .post.format-audio .post-meta { border-top:0 }
.gallerytiled {
	border:1px solid rgba(0, 0, 0, 0.11);
	margin-bottom:20px;
	padding:15px;
	overflow:hidden
}
.gallerytiled ul li {
	float:left;
	list-style:none;
	margin:0 1px 1px 0;
	width:19.8%
}
.gallerytiled ul li img { float:left }
.status-box {
	background:#f3f3f3;
	border-bottom:0;
	margin-bottom:20px;
	padding:5px 15px;
	overflow:hidden;
}
.single .status-box {
	border:0;
	border-bottom:1px solid #e3e3e3;
}
.status-box iframe {
	float:none;
	margin:10px auto !important;
	width:100%
}
.fb-status {
	padding-bottom:15px;
	padding-top:15px;
}
.googlep-status {
	padding-bottom:15px;
	padding-top:15px;
}
.googlep-status div {
	display:block !important;
	margin:0 auto !important;
}
.loading {
	background:#fff url(images/loading.gif) no-repeat center center;
	border:1px solid #e3e3e3;
	display:block;
    height: 200px;
	overflow:hidden;
}
.loading .slides { opacity:0 }
.flexslider { 
    overflow:hidden;
    position:relative
}
.galleryslider.loading {
	background:#fff url(images/loading.gif) no-repeat center center;
	display:block;
	border:1px solid #e3e3e3;
	overflow:hidden;
	height:150px;
}
.post-box .loading { margin-bottom: 20px }
.post {
	margin-bottom:30px;
	padding:0;
	overflow:hidden;
	position:relative
}
.single .post { margin-bottom:0 }
.post-box {
	overflow:hidden;
	padding:0
}
.post-cats {
	border-bottom:1px dotted rgba(0, 0, 0, 0.1);
	font-size:10px;
}
.post-cats a {
	background:#262626;
	color:#fff;
	display:inline-block;
	font-size:11px;
	line-height:17px;
	padding:5px 10px;
	position:relative;
	z-index:1
}
.post .post-cats a:hover { color:#fff }
.post-cats a:before {
	background:#99cc00;
	content:'';
	display:block;;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	width:0;
	z-index:-1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.post-cats a:hover:before { width:100% }
.post-type {
	display:inline-block;
	font-size:14px;
	vertical-align:bottom;
}
.post-type i {
	background:#99cc00;
	color:#fff;
	display:inline-block;
	font-size:11px;
	padding:8px 10px
}

/*---[ Homepage ]---*/
#featured-thumbnail {
	display:block;
	float:left;
	position:relative;
}
#featured-thumbnail img {
	float:left;
	width:100%;
	height:auto;
}
.featured-thumbnail {
	display:block;
	float:left;
	position:relative;
	width:100%
}
.featured-thumbnail img {
	float:left;
	width:100%;
	height:auto;
}
.featured-thumbnail .fhover {
	background:rgba(0,0,0,0.5);
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 0.35s ease 0s;
}
.featured-thumbnail .fhover:hover { opacity: 1 }
.featured-thumbnail .fhover:before,
.featured-thumbnail .fhover:after {
	content:'';
	display:block;
	position:absolute;
	top:30px;
	left:30px;
	bottom:30px;
	right:30px;
	transition:transform 0.35s ease 0s;
}
.thumbnail .featured-thumbnail .fhover:before,
.gallerytiled .featured-thumbnail .fhover:before,
.thumbnail .featured-thumbnail .fhover:after,
.gallerytiled .featured-thumbnail .fhover:after {
	top:15px;
	right:15px;
	bottom:15px;
	left:15px
}
.featured-thumbnail .fhover:before {
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	transform:scale(0,1);
}
.featured-thumbnail .fhover:after {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	transform:scale(1,0);
}
.featured-thumbnail .fhover:hover:before,
.featured-thumbnail .fhover:hover:after { transform:scale(1) }
.featured-thumbnail-big {
	clear:both;
	margin-bottom:20px;
	position:relative;
	width:100%;
}
.featured-single img {
	float:left;
	margin-bottom:20px;
	width:100%
}
.post .featured-thumbnail-big .fhover {
	background-image:url(images/plus.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.post.format-image .featured-thumbnail-big .fhover,
.post .featured-thumb-gallery .fhover {
	background-image:url(images/zoom.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.content-home .post .post-inner { clear:both }
.content-home .format-quote .post-inner { border:0 }
.post-content {
	font-size:16px;
	line-height:26px;
	margin:0 0 18px;
	padding:0
}
.aside-content {
	border:1px solid rgba(0, 0, 0, 0.1);
	padding:15px 15px 15px 60px;
	position:relative;
}
.aside-content:before {
	border-left:1px solid #D79F36;
	border-right:1px solid #D79F36;
	content:'';
	display:block;
	height:100%;
	top:0;
	left:30px;
	width:1px;
	position:absolute;
}
.post-meta {
	clear:both;
	color:#999;
	font-size:12px;
	margin-bottom:20px;
	overflow:hidden
}
.single .post-meta { border-top:0 }
.post-meta a { color:#999 }
.post-meta span {
	display:inline-block;
	padding-right:16px;
	margin:0 10px 0 0;
	position:relative
}
.post-meta > span:before {
	content:"/";
	display:block;
	position:absolute;
	top:0;
	right:0
}
.post-meta > span:last-child:before { content:"" }
.post-meta span:last-of-type {
	margin-right:0;
	padding-right:0
}
.post-meta .post-comments span {
	border:none;
	margin:0;
	padding:0;
}
.post-meta .post-type {
	border:none;
	float:left;
	font-size:12px;
	line-height:18px;
	margin:0 10px 0 0;
	padding:0;
	text-align:center;
}
.post-meta .post-type i {
	border:2px solid #0b8fe8;
	color:#0b8fe8;
	font-size:20px;
	line-height:25px;
	padding:6px 12px;
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
		  border-radius:50%;
}
.post-meta .post-type-audio i { padding:6px 10px }
.post-meta .post-type-video i,
.post-meta .post-type-gallery i,
.post-meta .post-type-image i { padding:6px 8px }
.post-meta .post-type-link i { padding:6px 9px }
.post-meta .fa,
.meta .fa { margin:0 4px 0 0 }
.post-box {
	margin-left: 30px;
	margin-right: 30px
}
.format-gallery a:hover,
.format-gallery .post-meta .fa { color:#ff4444 }
.format-gallery .post-type i,
.format-gallery .read-more a { background:#ff4444 }
.format-video a:hover,
.format-video .post-meta .fa { color:#33b5e5 }
.format-video .post-type i,
.format-video .read-more a { background:#33b5e5 }
.format-audio a:hover,
.format-audio .post-meta .fa { color:#ff8800 }
.format-audio .post-type i,
.format-audio .read-more a { background:#ff8800 }
.format-image a:hover,
.format-image .post-meta .fa { color:#aa66cc }
.format-image .post-type i,
.format-image .read-more a { background:#aa66cc }
.format-link a:hover,
.format-link .post-meta .fa { color:#0b8fe8 }
.format-link .post-type i,
.format-link .read-more a { background:#0b8fe8 }
.format-quote a:hover,
.format-quote .post-meta .fa { color:#0adbad }
.format-quote .post-type i,
.format-quote .read-more a { background:#0adbad }
.format-status a:hover,
.format-status .post-meta .fa { color:#33b8cc }
.format-status .post-type i,
.format-status .read-more a { background:#33b8cc }
.cover-container {
	margin:0;
	position:relative
}
.read-more {
	display:block;
	margin-bottom:10px;
}
.read-more a,
.more-link {
	background:#99cc00;
	color:#fff;
	display: inline-block;
	font-size:11px;
	font-weight:500;
	padding:3px 32px 3px 16px;
	position:relative;
	text-transform:uppercase;
}
.post .read-more a:hover,
.post .more-link:hover {
	background:#262626;
	color:#fff
}
.read-more a:before,
.more-link:before {
	font-family:'FontAwesome';
	content: "\f101";
	position:absolute;
	right:15px;
	top:3px
}

/*---[ Pagination ]---*/
.pagination,
.norm-pagination {
	border-left:1px solid #e3e3e3;
	clear:both;
	font-size:14px;
	margin:0;
	padding:20px;
	overflow:hidden;
	text-align: center;
	display: block;
}
.norm-pagination {
    border-bottom:1px solid #e3e3e3;
    margin-bottom:3px
}
.single .pagination {
    border:0;
    margin:15px 0 20px;
    padding:0
}
.single .pagination a { background:rgba(0, 0, 0, 0.04) }
.single .pagination a:hover { color:#fff }
.norm-pagination { padding:15px }
.norm-pagination .nav-previous a { float:left }
.norm-pagination .nav-next a { float:right }
.pagination span,
.pagination a {
	border:1px solid #eaeaea;
	color:#333;
	display:inline-block;
	margin:0 10px 0 0;
	padding:4px 11px;
}
.pagination a {
	background:#f6f6f6;
	color:#777
}
.pagination span {
	background:#f6f6f6;
	color:#777
}
.pagination .current,
.pagination a:hover { color:#fff }
.page-links-title {
    display:inline-block;
    font-weight:400;
    margin:0 10px 0 0
}
.single .pagination span,
.single .pagination a {
	line-height:1.6;
	margin:0 6px 0 0
}


/*-----------------------------------------------------------------------------------*/
/*	8. Sidebar
/*-----------------------------------------------------------------------------------*/
.sidebar {
	background:transparent;
	float:left;
	margin:0;
	width:31.6%;
}
.sidebar a {
	color:#333;
    -webkit-transition: background-color, color 0.2s linear;
    -moz-transition: background-color, color 0.2s linear;
    transition: background-color, color 0.2s linear;
}
#sidebar,
.small-sidebar {
	border-bottom:1px solid rgba(0, 0, 0, 0.09);
	border-left:1px solid rgba(0, 0, 0, 0.09);
	border-right:1px solid rgba(0, 0, 0, 0.09);
	margin:0 3px 3px;
	padding:20px 20px 0;
}
.widget {
	margin-bottom:20px;
	overflow:hidden;
}
.widget-title,
.section-heading {
	border-bottom:1px dotted rgba(0, 0, 0, 0.1);
	font-size:18px;
	font-weight:700;
	line-height:20px;
	margin-bottom:20px;
	padding:0 0 8px;
	position:relative
}
.widget-title span,
#tabs li.active span,
.section-heading span {
	border-left: 5px solid #99cc00;
	display:inline-block;
	padding:0 0 1px 10px
}
.widget-title i { margin-right:5px }
.widget li {
	list-style:none;
	margin:0 0 7px;
	position:relative;
}
.widget ul.children {
	padding-left:20px;
}
.widget ul.children li:last-child {
	border-bottom:0;
	padding-bottom:0
}
.sidebar-widget {
	list-style:none;
	margin-bottom:30px;
	padding:0;
	position:relative
}
.sidebar-widget a,
.sidebar-small-widget a { color:#333 }
.sidebar .search-button { float:left }
.sidebar-widget li:last-child {
	margin-bottom:0
}
.widget .menu li { float:none }
.widget ul li ul li {
	border-bottom:none;
	margin-bottom:0
}
.widget .widgetslider,
.widget .widgetslider:after {
	border:0
}
.widget .widgetslider li {
	border:0;
	margin:0;
	padding:0;
	list-style:none
}
.widget.featured-b {
	border:0;
	margin-bottom:0;
	padding-bottom:0
}
.widget .featured-item {
	margin:0 0 20px;
	width:100%
}
.sidebar-small {
	float:left;
	margin:0;
	width:23.1%
}


/*-----------------------*/
/*	10.3. Search Form
/*-----------------------*/
.searchform {
	padding:0;
	position:relative;
	width:100%
}
.searchform fieldset {
	border:1px solid rgba(0, 0, 0, 0.11);
	color:#888;
}
.s {
	background:transparent;
	border:none;
	color:#777;
	float:left;
	height:35px;
	margin:0;
	outline:0;
	padding:10px 0 9px 3%;
	width:85%;
}
.search-button {
	background:rgba(0, 0, 0, 0.08);
	border:none;
	color:#fff;
	cursor:pointer;
	display:block;
	float: left;
	font-size:12px;
	font-weight:700;
	min-width:13px;
	padding:0;
	height:35px;
	text-transform:uppercase;
	width:15%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.search-button:hover { background: #000 }
header .searchform {
	background:transparent;
	float:right;
	padding:0;
	width:100%
}
header .searchform i {
	position:absolute;
	top:18px;
	right:10px;
	z-index:10
}
header .searchform fieldset { border:0 }
header .s {
	background:#222;
	border: 1px solid #000;	
	display: none;
	float:left;
	right: 50px;
	padding: 21px 0;
	position: absolute;
	width: 220px;
	text-indent: 15px
}
header .search-button { 
	background:rgba(255,255,255,0.2);
	color:#fff;
	height:60px;
	width:50px;
	z-index:99
}
header .search-button:hover { background: transparent; }


/*-----------------------*/
/*	10.10. Tabs
/*-----------------------*/
#tabs-widget {
	background:#fff;
	margin-bottom:30px;
	overflow:hidden;
}
#tabs {
	padding: 0;
    list-style:none;
	margin:0 0 15px;
	overflow:hidden;
}
#tabs li {
	border:0;
    display: inline;
	float:left;
	width:50%;
	margin:0;
	padding:0;
	position:relative;
}
#tabs li span {
	border-left: 5px solid rgba(0, 0, 0, 0.1);
	display: inline-block;
	padding: 0 0 1px 10px
}
#tabs li a {
	border-bottom:1px dotted rgba(0, 0, 0, 0.1);
	color:#bbb;
	display:block;
	font-size:18px;
	float:right;
	line-height:20px;
	padding:0 0 5px;
	position:relative;
    text-decoration:none;
	overflow:hidden;
	text-transform:uppercase;
	width:100%;
}
#tabs li.recent-tab a { }
#tabs li.active a { color:#000 }
#tabs-content ul {
	margin:0;
	padding:0
}
#tabs-content li {
	border-bottom:1px solid #eee;
	margin:0 0 15px;
	overflow:hidden;
	padding:0 0 15px
}
#tabs-content li:last-child { margin-bottom:0 }
.tab-content { display: none }
.tabs-meta { display:block }
.comment-text {
	color:#777;
	display:block;
	font-size:12px
}

/*-----------------------*/
/*	10.11. Popular Posts
/*-----------------------*/
.widgetthumb {
	float:left;
	margin:4px 10px 0 0;
	width:100%
}
.thumbnail-big .widgetthumb { margin: 0 0 10px 0 }
.popular-posts { display:block }
.thumbnail {
	float:left;
	margin-right:10px;
	position:relative;
	max-width:27.5%;
	width:65px;
	padding: 0;
	border: none;
}
.thumbnail-big {
	float:none;
	margin:0;
	max-width:100%;
	width:100%
}
.info {
	overflow: hidden;
}
.widgettitle {
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:22px;
	margin-bottom: 5px
}
.meta,
.r-meta {
	color:#999;
	display:block;
	font-size:12px;
}
.meta a { color:#999 }
.meta .post-author,
.meta .post-comments,
.meta .widget-cats,
.meta time { margin-right:10px }