header.mainHead
	div.container
		a(href="#") 
		nav.mainNav
			ul
				li.menu-item
					a(href="/") Home
				li.menu-item
					a(href="#") News
				li.menu-item
					a(href="#") About
		nav.accountNav
			ul
				li.menu-item
					a(href="/signup") Sign up
				li.menu-item
					a(href="#") Sign in