head
	meta(charset = "uft-8")
	script(type="text/javascript" scr="./public/libs/jquery.min.js")
	script(type='text/javascript' scr='./public/libs/bootstrap/js/bootstrap.min.js')
	link(rel="stylesheet",href="./public/libs/bootstrap/bootstrap.min.css")
	link(rel="stylesheet",href="./public/css/main.css")

	title #{title}
